			header {
				text-align: center;
				background: url(http://i.imgur.com/RysdsaL.jpg);
				background-size: cover;
				font-family: Nixie One;
				color: rgba(84, 84, 84, 1);
			}
			#header {
				min-height: 450px;
			}
			div {
				position: relative;
			}
			h1 {
				font-size: 76px;
				font-family: Nixie One;
				font-weight: bold;
			}
			ul {
				padding: 10px;
				margin: 0px;
			}
			li {
				display: inline;
				padding: 0px 15px 0px 15px;
			}
			a {
				color: rgba(84,84,84,1);
				font-size: 20px;
			}
			body {
				background-color: rgba(84,84,84,0.25);
				font-family: Tahoma;
			}
			.navbar {
				position: absolute;
  				bottom: 0;
				padding: 2px 0 2px 0;
				background: rgba(0,0,0,.5);
				margin: 0 auto;
				padding: 0px;
				border: none;
				width: 100%;
			}
			.menu {
				text-align: center;
				vertical-align: middle;
			}
			.menu a {
				color: white;
				text-align: center;
			}
			#header .container {
				margin: 0 auto;
			}
			#main-site-body .container {
				padding: 5px;
				max-width: 500px;
				margin: 0 auto;
			}
			h3 {
				font-family: Nixie One;
				font-weight: bolder;
			}
			p {
				font-family: Georgia;
			}
			@media (max-width: 500px) {
				h1 {
					font-size: 30px;
				}
				li {
					display: block;
					padding: 5px;
				}

			}
			@media (max-width: 1300px) {
				a {
					color: rgba(255, 255, 255, 1);
				}
			}